header {
  background-color: #42c1ca;
  max-width: 850px;
  height: 64px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

footer {
  color: #808080;
  text-align: right;
  max-width: 850px;
  margin: 16px auto;
}

h1 {
  color: #ffffff;
  margin-left: 16px;
  flex-shrink: 0;
}

.info-area {
  max-width: 750px;
  min-width: 320px;
  margin: 16px auto;

  display: flex;
  align-items: center;
}
.info {
  color: #808080;
  font-size: 18px;
  margin-left: 16px;
  flex-shrink: 0;
}

#location {
  font-size: 24px;
}

.now-hours {
  color: #42c1ca;
  font-weight: bold;
}

.city-buttons {
  margin-left: 25px;
  white-space: nowrap;
  flex-shrink: 0;
}

.city-buttons button {
  background: #cc6666;
  color: white;
  border: none;
  padding: 7px 19px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;

  min-width: 100px;
}

.main {
  /*見やすくするための枠*/
  border: solid;
  border-width: 2px;
  border-color: gray;
  /*END*/

  max-width: 750px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  overflow-x: scroll;
}

.card {
  min-width: 140px;
  aspect-ratio: 3/4;
  padding: 5px;

  display: flex;
  flex-flow: column;
  gap: 10px;
}

.icon {
  margin: auto;
  display: block;
}

.card-content {
  display: flex;
  flex-flow: column;
  gap: 7px;
}

.box-time {
  font-size: 14px;
  color: #808080;
  text-align: center;
}

.box-temp {
  display: flex;
  margin: 0 auto;
}

.box1 {
  font-size: 20px;
  color: #cc6666;
  font-weight: bold;
}
.box2 {
  font-size: 16px;
  color: #808080;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.box3 {
  font-size: 20px;
  color: #336699;
  font-weight: bold;
}
